{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modifier ingrédient{% endblock %}


{% block header %}
{{include('partials/header.html.twig')}}
{% endblock %}



{% block body %}
<div class="modal fade " id="modalDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Supprimer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous supprimer cet ingrédient ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmButton">Confirmer</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
    <h1>Mes ingrédients</h1>
    <a href="{{ path('ingredient.new') }}" class="btn btn-primary my-2">Nouveau</a> 
    <p class="count">Il y a {{ ingredients.getTotalItemCount }} ingrédients au total</p>
    <hr>
    {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success">
                {{ message }}
            </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
            <div class="alert alert-dismissible alert-warning">
                {{ message }}
            </div>
    {% endfor %}


    {% if not ingredients.items is same as([]) %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr class="table-primary">
                    <th scope="row">{{ ingredient.id }}</th>
                    <td> {{ ingredient.name }} </td>
                    <td> {{ ingredient.price }} </td>
                    <td> {{ ingredient.createdat | date("d/m/Y")}} </td>
                    <td> <a href="{{ path('ingredient.edit',{id: ingredient.id}) }}" class="btn btn-success">Modifier</a> </td>
                    <td> <a onclick="showDelete({{ ingredient.id }})" role="button" class="btn btn-danger">Effacer</a> </td>                    
                </tr>
            {% endfor %}                
        </tbody>
    </table>    
    <div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(ingredients) }}
    </div>
    {% else %}
        <h4> il n'y a pas d\'ingredients</h4>
    {% endif %}
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    let id=-1;
    document.querySelectorAll('.alert').forEach(function(el) {
      setTimeout(() => {
        el.classList.add('collapse');
      }, 2000);
    });

    let myModal = document.getElementById('modalDelete');
    let modal = new bootstrap.Modal(myModal);

    function showDelete(_id){       
        // Appelez la modal
        id=_id;
        modal.show();
    }

    document.querySelector('#confirmButton').addEventListener('click', ()=>{

        window.location.href='ingredient/delete/'+id;
        modal.hide();
    });

   
</script>
{% endblock %}



